@media (max-width: 480px){
  hr{
    width: 80%;
  }
  
  #main{
    padding: 0 20px;
  }
}

.container{
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#img-div{
  background-color: #CECECE;
}

#img-caption{
  padding: 5px;
  font-size: 0.8rem;
  text-align: center;

}

#title{
  display: block;
  max-width: 650px;
  margin: 60px auto 0 auto;
  font-family: "Playfair Display", serif;
  text-align: center;
}

#title p {
  margin: 0 20px;
}

h1{
  letter-spacing: 15px;
}

#main{
  margin: 0 20px;
}

#tribute-info{
  display: block;
  max-width: 650px;
  margin: 60px auto;
  font-size: 0.95rem;
  font-family: 'Open Sans', sans-serif;
}

ul li{
  padding: 7px;
  list-style-type: none;
}

strong{
  font-family: "Playfair Display", serif;
}

ol{
  font-size: 0.80rem;
}

.references{
  margin: 0;
  padding-top: 40px;
}

#footer {
  background-color: #CECECE;
  font-size:0.70rem;
  text-align: center;
}

#footer p{
  margin-bottom: 0;
  padding: 10px;
}
